body{
    margin: 0px;
    width: 100%;
    height: 100%;
}
#naz{
    
    font-size: 150px;
    margin: 0px;
    color: white;
    font-weight: 400;
    font-family: ArcadeClassic;
    text-align: center;
}

.maindiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 931px;
    background-image: url(detailed_picture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.box{
    display: flex;
    width: 100%;
    height: 1000px;
    background-color: black;
}

